@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
body {
    background-color: #212121;
    animation:infinite;
}
*{
    font-family: "Source Code Pro", serif;
}
.gray {
    color: #A9A8A9;
    font-weight: 500;
}
h2 {
    color:#db8a56;
    display:flex;
    justify-content:center;
    font-weight:450;

}
.dialogue {
    color: #dfaff6;
}
img {
    border-radius:17px;
    width:32%;


}
#slash {
    font-weight:900;
    color:#A9A8A9; 
}

.center{
    display:flex;
    flex-direction:row;
    justify-content:left;
    margin-left: 25.5%;
    margin-right:25.5%;
    
}
